[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/jerryc127/hexo-theme-butterfly
[submodule "themes/themes/typeof-theme"]
	path = themes/themes/typeof-theme
	url = https://github.com/chris-aug/typeof-theme.git
[submodule "themes/typeof-theme"]
	path = themes/typeof-theme
	url = https://github.com/chris-aug/typeof-theme.git
